<div class="page-header">
	<h1>Le Réglement</h1>
</div>
<div class="container fluid"><div class="row-fluid">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#principe"><i class="icon-chevron-right"></i> Principe</a></li>
          <li><a href="#pourquoi"><i class="icon-chevron-right"></i> Pourquoi jouer</a></li>
          <li><a href="#relevé"><i class="icon-chevron-right"></i> Relevé des consommations</a></li>
          <li><a href="#compétitions"><i class="icon-chevron-right"></i> Compétitions</a></li>
          <li><a href="#classements"><i class="icon-chevron-right"></i> Classements</a></li>
          <li><a href="#tabs"><i class="icon-chevron-right"></i> Zone climatique</a></li>
          <li><a href="#tooltips"><i class="icon-chevron-right"></i> Âge du logement</a></li>
          <li><a href="#popovers"><i class="icon-chevron-right"></i> Type de logement</a></li>
          <li><a href="#alerts"><i class="icon-chevron-right"></i> Étapes</a></li>
          <li><a href="#buttons"><i class="icon-chevron-right"></i> Cadeaux et prix</a></li>
        </ul>
      </div>
  <div class="span9">


<section id="principe">
          <div class="page-header">
            <h2>Le principe</h2></div>

<p>Le commentçawatt est un jeu dans lequel les joueurs qui consomment le moins d’énergie chez eux gagnent. Il se joue par étapes selon le rythme des saisons : printemps, été, automne, hiver.<br>

Les joueurs peuvent, au choix, réduire leurs consommations énergétiques au moyen de gestes simples (éteindre la lumière, baisser le chauffage...), d’investissements lourds (refaire l'isolation) ou de gestes stratégiques (se doucher chez les voisins). Ils peuvent aussi décider de ne rien faire et simplement perdre. Ils ont le droit de penser qu'ils ont de bonnes raisons de perdre (ils vivent dans une épave thermique, ils ont un atelier de soudure clandestin chez eux, un bébé à maintenir à température décente...) ou de gagner (ils sont partis un mois en vacances, ils se douchent à la piscine, ils habitent dans le Sud...). Quoi qu'il en soit, jouer au commentçawatt leur permet de se situer par rapport aux autres joueurs, et réciproquement..</p></section>

<section id="pourquoi">
          <div class="page-header">
            <h2>Pourquoi jouer ?</h2></div>

<ul>Parce qu'il faudra bien s'habituer à consommer moins d'énergie, et donc à avoir un œil sur les compteurs.</ul>
<ul>Parce qu'en France les comportements individuels sont directement à l'origine de près de 50 % de la consommation d'énergie : les logements représentent environ 30 %, les véhicules particuliers environ 15 %.</ul>
<ul>Pour avoir une idée de ses performances et les comparer avec celles des autres joueurs.</ul>
<ul>Pour s'amuser un peu.</ul>
<ul>Pour recevoir des conseils malins, des infos très intéressantes et les trucs et astuces des autres joueurs.</ul>
<ul>Pour battre notre score de 3,15 MWh à deux dans 49 m² (chauffage compris).</ul>
<ul>Pour faire mieux l'année prochaine.</ul></section>

<section id="relevé">
          <div class="page-header">
            <h2>Relevé des consommations</h2></div>

<p>Les relevés sont faits par les joueurs eux-mêmes via le site internet, selon le principe que les tricheurs sont des idiots.<br>

Le nombre de personnes à déclarer est le nombre moyen de personnes ayant vécu dans le logement depuis le dernier relevé. Par exemple, une personne présente uniquement les week-ends compte pour 2/7, soit 0,29. Désolé pour elle...

Pour le gaz de ville, les compteurs indiquent les quantités réellement consommées. Les distributeurs de gaz relèvent en général une quantité en m3. Les joueurs doivent également transmettre les quantités en m3. Ils peuvent s’ils le souhaitent relever également les décimales. Ce sera plus précis.

Pour l’électricité, les joueurs doivent faire attention à bien prendre en compte toutes les consommations. Sur les compteurs électroniques (à cadran digital) il faut appuyer sur le bouton sélection pour consulter les différents index. Si les mentions heures pleines et heures creuses apparaissent, c’est qu’il y a deux chiffres à additionner. Si la mention base apparaît, il n’y a qu’un chiffre à prendre en compte. Il y a d’autres modes de comptage (tempo, effacement jour de pointe, etc). Les joueurs sont invités à se reporter à leur dernière facture d’électricité pour voir s’ils ont différents chiffres à additionner.

Pour le fioul et le gaz en bouteilles, les joueurs estiment au mieux leur consommation à chaque étape. Les consommations de fioul sont données en litres, et celles de gaz bouteille (butane ou propane) en kg.

Les énergies renouvelables (bois, solaire thermique, éolien, géothermie) produites sur place ne sont pas comptées comme consommées. Seules comptent les quantités achetées. Ainsi, un logement bien équipé apparaîtra en bonne place dans le classement. Les joueurs équipés par des systèmes solaires photovoltaïques et qui vendent l’électricité à leur distributeur déduisent les quantités vendues des quantités achetées.

Les logements chauffés au moyen d’un système de chauffage collectif peuvent a minima jouer dans la catégorie PtitWatt ou MiniWatt.</p></section>

<section id="compétitions">
	<div class="page-header">

<h2>Trois compétitions et trois classements</h2></div>

<h3>Les trois compétitions</h3>

<p>La catégorie MaxiWatt correspond à tous les usages de l'énergie : chauffage, eau chaude, cuisson, éclairage, électroménager, audiovisuel... Les joueurs qui ont un système de chauffage ou d'eau chaude collectif ne peuvent pas jouer dans la catégorie MaxiWatt.

La catégorie PtitWatt correspond à tous les usages, sauf le chauffage. Les joueurs qui ont un chauffage collectif mais un chauffe-eau individuel jouent dans cette catégorie.

La catégorie MiniWatt ne compte pas le chauffage ni l'eau chaude. On y trouve les joueurs qui ont des systèmes de chauffage et d'eau chaude collectif. On y trouve aussi ceux qui ont une chaudière au gaz, qui jouent en MaxiWatt, mais pour lesquels les consommations d'électricité comptent aussi pour le MiniWatt.<p></section>


<section id="classements"><div class="page-header">
<h3>Les trois classements</h3></div>

<p>Le challenge énergie : <br>

C’est la consommation d’énergie finale par personne qui compte (la somme des consommations d’énergie quoi…).

Le challenge énergie primaire : <br>

la consommation d’énergie par personne est exprimée en énergie primaire. La différence concerne l’électricité. Pour produire de l’électricité, on utilise le plus souvent de la chaleur, obtenue par combustion (de gaz, de charbon, de pétrole, de déchets, de biomasse…) ou par fission (dans le cas du nucléaire). Pour transformer cette chaleur en électricité, on ne connaît rien de mieux que la machine à vapeur (améliorée depuis ses débuts certes), qui a un rendement de l’ordre de 40 % : avec 100 kWh de chaleur, on obtient environ 40 kWh d’électricité, le reste est perdu (parfois récupéré) en chaleur. Ainsi, si l’on considère que l’électricité est produite à partir de gaz (ce qui est faux à l’échelle de la France, mais vrai à l’échelle de l’Europe) se chauffer à l’électricité revient à consommer deux fois plus de gaz que se chauffer directement au gaz !<br>

La réglementation thermique propose de multiplier les consommations d’électricité par 2,58, et de ne pas toucher aux autres énergies pour convertir de l’énergie finale en énergie primaire.<br>

Le challenge par mètre carré :<br>

Le Grenelle de l'environnement a proposé de renforcer la réglementation thermique, de sorte que tout les bâtiments neufs consomment moins de 50 kWh d'énergie primaire par mètre carré et par an. Le challenge par mètre carré permet de se situer par rapport à ce chiffre. Ce classement ne concerne que la catégorie MaxiWatt (qui compte le chauffage).</p></section>

<h2>Les autres renseignements intéressants</h2>

<h3>La zone climatique</h3>

<p>Depuis 1975, il existe une réglementation thermique : les logements neufs doivent respecter des normes minimales d'isolation. Ces normes dépendent du climat. Pour les définir, la France est divisée en plein de zones climatiques (h1a, h1b, h1c, h2a, h2b, h2c, h2d, h3), que l'on voit sur la carte ci-dessous.


Dans les classements du commentçawatt, on a simplifié tout ça en chaud (h3), froid (h1) et moyen (h2), parce que sinon il n'y aurait pas assez de joueurs dans chaque catégorie et ce ne serait pas drôle. Alors que là...

Bien sûr, ce n'est pas très satisfaisant pour nos amis hors de France métropolitaine...</p>

<h3>L'âge du logement</h3>

<p>On distingue deux types de logements : les anciens et les récents. On a fixé la limite à 1975, date de la première réglementation thermique. Cela signifie qu'en théorie les logements construits ou rénovés après 1975 sont mieux isolés que les autres.</p>

<h3>Le type de logement</h3>

<p>On fait la différence entre les appartements et les maisons. Les joueurs en appartements bénéficient a priori du chauffage de leurs voisins qui ne jouent pas au commentçawatt. Si vous et vos voisins jouez, le jeu devient intéressant...</p>

<h3>Étapes</H3>

<p>Saison 1 - 1ère étape : du 14 septembre 2008 au 1er novembre 2008.
Saison 1 - 2ème étape : du 1er novembre 2008 au 1er février 2009.
Saison 1 - 3ème étape : du 1er février 2009 au 1er mai 2009.
Saison 1 - 4ème étape : du 1er mai 2009 au 14 septembre 2009.
Saison 2 – 1ère étape : du 14 septembre 2009 au 1er novembre 2009.
Etc…
Pour valider une étape, il faut transmettre ses données de relève à 19 heures le jour dit, plus ou moins une semaine.
Les joueurs peuvent rejoindre le jeu à n’importe quelle étape. Des classements de chaque étape seront publiés et, à partir de septembre 2009, des classements sur la dernière année glissante.
Confidentialité

Le jeu est anonyme. Les informations transmises lors de l'inscription ou du jeu (consommations d'énergie, nombre de personnes, caractéristiques du logement...) peuvent être affichées sur le site et associées au pseudonyme du joueur. L'adresse électronique est la seule donnée personnelle demandée lors de l'inscription permettant (et encore...) d'identifier un joueur. Celle-ci est nécessaire pour avertir les joueurs des différentes étapes du jeu et ne peut être utilisée à d'autres fins.
En aucun cas elle ne peut être transmise à des tiers ni affichée sur le site.
En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, les joueurs bénéficient d’un droit d’accès et de rectification aux informations qui les concernent.

Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, utilisez votre espace joueur ou le formulaire de contact.</p>

<h3>Cadeaux et prix</h3>

<p>L'organisation d'une remise des prix pose pas mal de problèmes.

C'est injuste de donner des récompenses à des gens qui ont la chance d'habiter dans de super logements.
Le jeu est basé sur la bonne foi et je connais tout un tas de petits malins qui sont prêts à toutes les tricheries pour recevoir un cadeau.
Et surtout le jeu ne génère aucune recette, il n'y a donc pas d'argent pour acheter des récompenses.
Ceci étant, rien n'interdit aux joueurs qui pensent mériter des cadeaux de se rendre dans leur centre commercial préféré et de s'acheter un cadeau eux-mêmes avec leur propre argent.</p>
</div>
