<div class="page-header">
	<h1>Bienvenue sur le site officiel du Commentçawatt !</h1>
</div>
<div class="row" id="accueil">
	<div class="span4">
		
		<h2>C'est quoi ce truc?</h2>
		<img src="logo.png" alt="logo.png" class="img_in"/>
		<p>C'est un moyen, sous forme de jeu, de suivre ses consommations d'énergie chez soi et de les comparer à celles des autres joueurs.<br><br>Pour plus de renseignements, consultez le <a href='#'>réglement</a> et baladez-vous sur le site.</p>
	</div>
	<div class="hero-unit span5">
		<h2>Vous aussi, participez !</h2>
		<p id="inscription-texte">Pour réduire mes consommations d'énergie, pour connaître mon impact sur l'environnement et surtout pour gagner, je joue au Commentçawatt</p><br>
		<a href="/users/new" class="btn btn-large btn-primary">Je m'inscris</a>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="span4">
		<h3>Qui joue?</h3>

<p>Que veux jouer joue. La liste des 197 joueurs est ici.
Dans les <%=User.count%> logements inscrits vivent 582 personnes. Pour se faire une idée, c'est comme si tous les habitants de Reignac (Charente) jouaient au commentçawatt!</p>
	</div>
	<div class="span4">
		<h3>On peut encore s'inscrire?</h3>

<p>Bien sûr. Si vous voulez rejoindre la compétition, rendez-vous tout de suite sur la page d'inscription (même si vous n'avez pas vos compteurs d'électricité ou de gaz sous la main). C'est en ce moment l'arrivée de la quinzième étape (printemps 2012) et le départ de la seizième (été 2012). Pour franchir la ligne de départ ou d'arrivée, entrez un relevé avant le 7 juillet !</p>
	</div>
	<div class="span4">
		<h3>Je ne comprends rien à ces histoires de kWh et d'énergie primaire</h3>

<p>C'est bien normal. Pour y voir plus clair, les joueurs du commentçawatt qui jouaient déjà en mai dernier (et qui ont un système de chauffage individuel) connaissent le positionnement de leur logement sur les étiquettes suivantes, qui sont utilisées pour les diagnostics de performance énergétique.</p>
	</div>
